.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #5c5470 0%,
    #352f44 51%,
    #5c5470 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  opacity: 60%;
}

.button:hover {
  background-position: right center;
}
