.actorCard {
  position: relative;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  box-shadow: 0px 0px 84px 0px #dbd8e3;
  width: 150px;
  background: #dbd8e3;
}

.actorCardImage img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.actorCardTitle {
  width: 140px;
  padding: 5px;
  color: #2a2438;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
}
