.filmCard {
  position: relative;
  margin: 10px 10px 0 0;
  border-radius: 10px;
  box-shadow: 0px 0px 84px 0px #dbd8e3;
  width: 180px;
  background: #dbd8e3;
}

.filmCardImage {
  overflow: hidden;
}

.filmCardImage img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
}

.filmCardImage img:hover {
  transform: scale(1.1);
  opacity: 50%;
}

.filmCardTitle {
  color: #2a2438;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 20px;
}

.filmCardRating {
  position: absolute;
  font-size: 18px;
  letter-spacing: 0.4px;
  background: #5c5470;
  font-weight: bold;
  color: #2a2438;
  padding: 5px;
  right: 10px;
  top: 10px;
  border: 4px solid #700b97;
  border-radius: 50%;
}

.filmCardRating p {
  color: #dbd8e3;
  margin-bottom: 0;
}
